# Software Engineering for Data Scientists

## *Manipulating Data with Python*
## CSE 583

## Today's Objectives

#### 1. Opening & Navigating the Jupyter Notebook

#### 2. Simple Math in the Jupyter Notebook

#### 3. Loading data with ``pandas``

#### 4. Cleaning and Manipulating data with ``pandas``

#### 5. Visualizing data with ``pandas`` & ``matplotlib``

## 1. Opening and Navigating the IPython Notebook

We will start today with the interactive environment that we will be using often through the course: the [Jupyter Notebook](http://jupyter.org).

We will walk through the following steps together:

1. Download [miniconda](https://conda.io/miniconda.html) (be sure to get Version 3.6) and install it on your system (hopefully you have done this before coming to class)
   ```
   ```

2. Use the ``conda`` command-line tool to update your package listing and install the IPython notebook:

   Update ``conda``'s listing of packages for your system:
   ```
   $ conda update conda
   ```
   
   Install IPython notebook and all its requirements
   ```
   $ conda install jupyter notebook
   ```
   
3. Navigate to a directory and download the course material. For example:
   
   ```
   $ cd courses/CSE583
   ```
   
   ```
   $ curl -o Breakout-Simple-Math.ipynb https://raw.githubusercontent.com/UWSEDS/LectureNotes/master/02_Jupyter_and_Python_Basics/Breakout-Simple-Math.ipynb
   ```
   
   ```
   $ curl -o Jupyter_and_Python_Basics.ipynb https://raw.githubusercontent.com/UWSEDS/LectureNotes/master/02_Jupyter_and_Python_Basics/Jupyter_and_Python_Basics.ipynb
   ```
   
   When you `ls`, you should see a number of files in the directory, including these:
   
   ```
   $ ls
   ...
   Breakout-Simple-Math.ipynb
   Jupyter_and_Python_Basics.ipynb
   ...
   ```

4. Type ``jupyter notebook`` in the terminal to start the notebook

   ```
   $ jupyter notebook
   ```
   
   If everything has worked correctly, it should automatically launch your default browser
   ```
   ```
   
5. Click on ``Jupyter_and_Python_Basics.ipynb`` to open the notebook containing the content for this lecture.

With that, you're set up to use the Jupyter notebook!

## 1.1 Some Theory
- Components with the same capabilities are of the same *type*. 
  - For example, the numbers 2 and 200 are both integers.
- A type is defined recursively. Some examples.
  - A list is a collection of objects that can be indexed by position.
  - A list of integers contains an integer at each position.
- A type has a set of supported operations. For example:
  - Integers can be added
  - Strings can be concatented
  - A table can find the name of its columns
    - What type is returned from the operation?
- In python, members (components and operations) are indicated by a '.'
  - If `a` is a list, the `a.append(1)` adds `1` to the list.

## 2. Simple Math in the Jupyter Notebook

Now that we have the Jupyter notebook up and running, we're going to do a short breakout exploring some of the mathematical functionality that Python offers.

Please open [Breakout-Simple-Math.ipynb](Breakout-Simple-Math.ipynb), find a partner, and make your way through that notebook, typing and executing code along the way.

## 3. Loading data with ``pandas``

With this simple Python computation experience under our belt, we can now move to doing some more interesting analysis.

### Python's Data Science Ecosystem

In addition to Python's built-in modules like the ``math`` module we explored above, there are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.
We will not look closely at Scipy today, but we will use its functionality later in the course.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language (and in particular the so-called "Hadley Stack"), much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

### Installing Pandas & friends

Because the above packages are not included in Python itself, you need to install them separately. While it is possible to install these from source (compiling the C and/or Fortran code that does the heavy lifting under the hood) it is much easier to use a package manager like ``conda``. All it takes is to run

```
$ conda install numpy scipy pandas matplotlib
```

and (so long as your conda setup is working) the packages will be downloaded and installed on your system.

### Downloading the data

shell commands can be run from the notebook by preceding them with an exclamation point:

In [1]:
!ls

(Completed)Breakout-Simple-Math.ipynb Jupyter_and_Python_Basics.ipynb
Breakout-Simple-Math.ipynb

uncomment this to download the data:

In [2]:
!curl -o pronto.csv https://data.seattle.gov/api/views/tw7j-dfaw/rows.csv?accessType=DOWNLOAD

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 42.7M    0 42.7M    0     0   939k      0 --:--:--  0:00:46 --:--:-- 1146k0:04 --:--:--  737k  0 --:--:--  0:00:44 --:--:-- 1232k

### Loading Data with Pandas

Because we'll use it so much, we often import under a shortened name using the ``import ... as ...`` pattern:

In [3]:
import pandas as pd
df = pd.read_csv('pronto.csv')

Now we can use the ``read_csv`` command to read the comma-separated-value data:

*Note: strings in Python can be defined either with double quotes or single quotes*

### Viewing Pandas Dataframes

The ``head()`` and ``tail()`` methods show us the first and last rows of the data

In [4]:
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31:00 AM,10/13/2014 10:48:00 AM,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32:00 AM,10/13/2014 10:48:00 AM,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33:00 AM,10/13/2014 10:48:00 AM,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34:00 AM,10/13/2014 10:48:00 AM,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34:00 AM,10/13/2014 10:49:00 AM,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [5]:
df.columns

Index(['trip_id', 'starttime', 'stoptime', 'bikeid', 'tripduration',
       'from_station_name', 'to_station_name', 'from_station_id',
       'to_station_id', 'usertype', 'gender', 'birthyear'],
      dtype='object')

In [6]:
df.tail()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
275086,295463,03/31/2017 11:16:00 PM,04/01/2017 02:11:00 AM,SEA00347,10487.475,NE 42nd St & University Way NE,E Harrison St & Broadway Ave E,UD-02,CH-02,Short-Term Pass Holder,NaN,NaN
275087,295464,03/31/2017 11:16:00 PM,04/01/2017 02:11:00 AM,SEA00031,10487.366,NE 42nd St & University Way NE,E Harrison St & Broadway Ave E,UD-02,CH-02,Member,Female,1982.0
275088,295465,03/31/2017 11:44:00 PM,04/01/2017 12:04:00 AM,SEA00240,1205.656,Bellevue Ave & E Pine St,Lake Union Park / Westlake Ave & Aloha St,CH-12,SLU-23,Member,Male,1990.0
275089,295466,03/31/2017 11:46:00 PM,04/01/2017 12:04:00 AM,SEA00121,1115.658,Bellevue Ave & E Pine St,Lake Union Park / Westlake Ave & Aloha St,CH-12,SLU-23,Member,Female,1987.0
275090,295467,03/31/2017 11:52:00 PM,04/01/2017 02:33:00 AM,SEA00151,9667.679,Cal Anderson Park / 11th Ave & Pine St,Broadway and E Denny Way,CH-08,CH-16,Member,Male,1988.0

The ``shape`` attribute shows us the number of elements:

In [ ]:
df.shape

The ``columns`` attribute gives us the column names

The ``index`` attribute gives us the index names

The ``dtypes`` attribute gives the data types of each column:

In [ ]:
df.dtypes

## 4. Manipulating data with ``pandas``

Here we'll cover some key features of manipulating data with pandas

Access columns by name using square-bracket indexing:

Mathematical operations on columns happen *element-wise*:

Columns can be created (or overwritten) with the assignment operator.
Let's create a *tripminutes* column with the number of minutes for each trip

More complicated mathematical operations can be done with tools in the ``numpy`` package:

### Working with Times

One trick to know when working with columns of times is that Pandas ``DateTimeIndex`` provides a nice interface for working with columns of times.

For a dataset of this size, using ``pd.to_datetime`` and specifying the date format can make things much faster (from the [strftime reference](http://strftime.org/), we see that the pronto data has format ``"%m/%d/%Y %I:%M:%S %p"``

(Note: you can also use ``infer_datetime_format=True`` in most cases to automatically infer the correct format, though due to a bug it doesn't work when AM/PM are present)

With it, we can extract, the hour of the day, the day of the week, the month, and a wide range of other views of the time:

### Simple Grouping of Data

The real power of Pandas comes in its tools for grouping and aggregating data. Here we'll look at *value counts* and the basics of *group-by* operations.

#### Value Counts

Pandas includes an array of useful functionality for manipulating and analyzing tabular data.
We'll take a look at two of these here.

The ``pandas.value_counts`` returns statistics on the unique values within each column.

We can use it, for example, to break down rides by gender:

Or to break down rides by age:

By default, the values rather than the index are sorted. Use ``sort=False`` to turn this behavior off:

We can explore other things as well: day of week, hour of day, etc.

### Group-by Operation

One of the killer features of the Pandas dataframe is the ability to do group-by operations.
You can visualize the group-by like this (image borrowed from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do))

The simplest version of a groupby looks like this, and you can use almost any aggregation function you wish (mean, median, sum, minimum, maximum, standard deviation, count, etc.)

```
<data object>.groupby(<grouping values>).<aggregate>()
```

for example, we can group by gender and find the average of all numerical columns:

It's also possible to indes the grouped object like it is a dataframe:

You can even group by multiple values: for example we can look at the trip duration by time of day and by gender:

The ``unstack()`` operation can help make sense of this type of multiply-grouped data. What this technically does is split a multiple-valued index into an index plus columns:

## 5. Visualizing data with ``pandas``

Of course, looking at tables of data is not very intuitive.
Fortunately Pandas has many useful plotting functions built-in, all of which make use of the ``matplotlib`` library to generate plots.

Whenever you do plotting in the IPython notebook, you will want to first run this *magic command* which configures the notebook to work well with plots:

In [ ]:
%matplotlib inline

Now we can simply call the ``plot()`` method of any series or dataframe to get a reasonable view of the data:

In [ ]:
import matplotlib.pyplot as plt
df['tripduration'].hist()

### Adjusting the Plot Style

Matplotlib has a number of plot styles you can use. For example, if you like R you might use the ggplot style:

### Other plot types

Pandas supports a range of other plotting types; you can find these by using the <TAB> autocomplete on the ``plot`` method:

For example, we can create a histogram of trip durations:

If you'd like to adjust the x and y limits of the plot, you can use the ``set_xlim()`` and ``set_ylim()`` method of the resulting object:

## Breakout: Exploring the Data

Make a plot of the total number of rides as a function of month of the year (You'll need to extract the month, use a ``groupby``, and find the appropriate aggregation to count the number in each group).

Split this plot by gender. Do you see any seasonal ridership patterns by gender?

Split this plot by user type. Do you see any seasonal ridership patterns by usertype?

Repeat the above three steps, counting the number of rides by time of day rather thatn by month.

Are there any other interesting insights you can discover in the data using these tools?

## Using Files
- Writing and running python modules
- Using python modules in your Jupyter Notebook